<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Administrador</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/admin.css') }}">

</head>

<body>

<div class="panel">

<h1>Administrador</h1>

<form id="formulario">

<input
type="text"
id="nombre"
placeholder="Nombre"
required>

<select id="marca">

<option>Nike</option>
<option>Adidas</option>
<option>Jordan</option>
<option>Puma</option>
<option>New Balance</option>

</select>

<input
type="number"
id="precio"
placeholder="Precio"
required>

<input
type="number"
id="stock"
placeholder="Stock"
required>

<textarea
id="descripcion"
placeholder="Descripción"></textarea>

<input
type="file"
id="imagen"
accept="image/*">

<img
id="preview"
src=""
style="display:none; width:220px; margin-top:20px; border-radius:10px;">

<button>

Guardar Producto

</button>

</form>

<div id="mensaje"></div>

</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>

</html>